.to-do-list
{
    background-color: rgb(251, 249, 249);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    margin-left: 4%;
    height: 500px;
    font-weight: 500;
    align-items: center;
    font-size: 32px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: inset 1px 0 14px rgb(67, 67, 67);
    overflow: scroll;
    padding: 10px 0;
    
}

.empty-list
{   
    position: relative;
    margin-top: 222px;
    color: rgba(0, 0, 0, 0.541);
    text-align: center;
 }

.to-do-content
{
    background-color: #e9e32c;
    font-size: 20px;
    width:87%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px green;
    padding: 10px;
    height: 40px;
}

.to-do
{
    overflow: hidden;
    width: 70%;
}

.container-btn
{
    width: 80px;
    background-color: #e9e32c;
    display: flex;
    justify-content: space-between;
}

.status-btn, .edit-btn, .remove-btn, .completed
{
    width: 24px;
    height:24px;
    position: relative;
    border: hidden;
    box-shadow: inset 2px -1px 4px gray;
}

.status-btn, .completed
{
    border-radius: 12px;
}

.completed
{
    background-color: rgb(14, 201, 14);
}

.status-icon, .edit-icon, .remove-icon
{
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
    color: red;
}